@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Krub', sans-serif;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

/* Pagina principal         @hecho by tomas y virbes*/
.nav-principal{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}
.btn-login{
    grid-column: 11/12;
}

.hero{
    background-image: url('../static/images/inicio/tyson-moultrie-BQTHOGNHo08-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 1rem;
}
.hero-body{
    background-color: rgb(0 0 0 / 70%);
    display: flex;
    font-size: 1.3rem;
    align-items: center;
}
.hero-body p{
    color: white;
}

h1 {
    color: #fff !important;
}

/* footer          @hecho by tomas y virbes*/
.footer{
    text-align: center;
    background-color: black;
}
.footer-img{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
@media (max-width: 426px) {
    .nav-principal{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
}










.profile-picture {
    border-radius: 999px;

    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;

    border: 3px solid #E5E5E5;
}

.hero.has-background {
    position: relative;
    overflow: hidden;
    height: 200px;
  }
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.hero-background.is-transparent {
    opacity: 0.6;
}

.shopping {
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
}

.items {
    display: none;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.show-items {
    display: block;
}