{% extends 'layout.html' %}{% block title %}Acquire {{ movie.title }}{% endblock title %}

{% block content %}
<h1 class="title ml-6">Acquire a Movie</h1>

<div class="box ml-6 mr-6">
    <div class="columns is-vcentered">

        {% if movie.image %}
        <img src="{{ url_for('static', filename='images/upload/movies/') }}{{ movie.image }}" width="100px">
        {% endif %}

        <table class="ml-6 mr-6">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Category</th>
                    <th>Country</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.category }}</td>
                    <td>{{ movie.country }}</td>
                    <td>${{ movie.price }} MXN</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ml-6">
    <form method="POST">
        <a class="button is-danger mr-3" onclick="return window.history.back()">Cancel</a>
        <button class="button is-success" onclick="return confirm('Are you sure you want to add {{ movie.title }} to the cart?')">Add to cart</button>
    </form>
</div>
{% endblock content %}