{% extends 'layout.html' %} {% block title %}Edit Category{% endblock title %}

{% block content %}

<div class="hero has-background has-text-centered">
    <div class="hero-body">
        {% include 'header.html' %}
    </div>
</div>

<h2 class="contenedor control has-text-black">Agregar categoría</h2>

<section>
    <div class="contenedor">
        <div class="column is-7 is-offset-0"> 

            <div class="box mb-6">
                <form method="POST" name="login">
                    {{ form.csrf_token }}

                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            {{ form.category(class="input", placeholder="Escriba categoría") }}
                        </p>

                        <div class="control">
                            <div class="button is-info">
                                <button class="button is-block is-info">Agregar</button>
                            </div>
                        </div>
                    </div>
                </form>

                <hr>
                <!--  
                <form method="POST">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-danger is-small">Delete</button>
                        </div>
                    </div>
                </form>
                -->
                <table>
                    <tbody>
                        {% for id, category in cat %}
                        <tr>

                            <td>
                                <div class="field is-grouped">

                                    <p class="control is-expanded">
                                        <span class="ml-3 is-size-5">{{ category }}</span>
                                    </p>

                                    <div class="control">
                                        <a onclick="return confirm('do you really want to delete {{ category }}?')"
                                            href="{{ url_for('delete_category', id_category=id) }}"
                                            class="button is-danger is-small is-outlined">
                                            <!--Text-->Eliminar
                                            <!--Text-->
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock content %}