<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My movies - {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mymovies.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>

    <header>
        <nav class="navbar" aria-label="main navigation">
            <div class="navbar-start">
                <div class="navbar-brand">
                    <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('home_page') }}">Home</a>
                    </span>

                    <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('movies_page') }}">List Movies</a>
                    </span>

                    {% if current_user.role == 'Admin' %}
                    <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('movie_add_page') }}">Add Movie</a>
                    </span>
                    {% endif %}

                    {% if current_user.id_user %}
                    <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('profile') }}">Profile</a>
                    </span>
                    {% endif %}

                    {% if current_user.username == 'admin' %}
                    <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('manage_users') }}">Users</a>
                    </span>
                    {% endif %}

                    <span class="navbar-item">
                        {% if not current_user.is_authenticated %}
                        <a class="button is-link" href="{{ url_for('login_page') }}">Log in</a>
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="navbar-end">
                <span class="navbar-item">
                    {% if current_user.is_authenticated %}
                    <a class="button is-link" href="{{ url_for('my_cart') }}">My Cart</a>
                    {% endif %}
                </span>

                <span class="navbar-item">
                    {% if current_user.is_authenticated %}
                    <a class="button is-link" href="{{ url_for('my_shopping') }}">My Shopping</a>
                    {% endif %}
                </span>

                {% if current_user.role == 'Admin' %}
                    <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('report_sales') }}">Report Sales</a>
                    </span>
                {% endif %}

                <span class="navbar-item">
                    {% if current_user.is_authenticated %}
                    <p class="mr-2 is-size-4">{{ current_user.username }}</p>
                    <a href="{{ url_for('logout_page') }}" class="button is-danger is-link">Log out</a>
                    {% endif %}
                </span>

                <span class="navbar-item">
                    <a href="{{ url_for('about') }}" class="button is-rounded is-outlined is-small">i</a>
                </span>
            </div>

    </header>

    <main>
        {% for message in get_flashed_messages() %}
        <div class="notification is-info">{{ message }}</div>
        {% endfor %}


        <section class="section">
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </section>
    </main>


    <footer class="footer">
        <div class="content">
            <small>&copy; 2015 - 2018, Kilgore Trout</small>
        </div>
    </footer>

</body>

</html>