<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My movies - {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mymovies.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>

    <header class="contenedor">
        <nav aria-label="main navigation">

            <!-- <div class="nav-principal">
                <div>
                    <a class="button is-link" href="{{ url_for('home_page') }}">Inicio</a>
                </div>
                
                <div class="btn-login">
                    {% if not current_user.is_authenticated %}
                    <a class="button is-link" href="{{ url_for('login_page') }}">Iniciar sesion</a>
                    {% endif %}
                </div>
                <span>
                    <a href="{{ url_for('about') }}" class="button is-rounded is-outlined is-small">i</a>
                </span>
            </div> -->

            {% if current_user.is_admin %}
            <div>
                <a class="button is-link" href="{{ url_for('movie_add_page') }}">Agregar película</a>
            </div>
            {% endif %}

            {% if current_user.is_authenticated %}
            <div>
                <a class="button is-link" href="{{ url_for('profile') }}">Perfil</a>
            </div>
            {% endif %}

            {% if current_user.is_authenticated and current_user.username == 'admin' %}
            <div>
                <a class="button is-link" href="{{ url_for('manage_users') }}">Usuarios</a>
            </div>
            {% endif %}
    
        </nav>

        <nav aria-label="main navigation">
            <div class="">
                <span>
                    {% if current_user.is_authenticated %}
                    <a class="button is-link" href="{{ url_for('my_cart') }}">My Cart</a>
                    {% endif %}
                </span>
                <span>
                    {% if current_user.is_authenticated %}
                    <a class="button is-link" href="{{ url_for('my_shopping') }}">My Shopping</a>
                    {% endif %}
                </span>
                {% if current_user.is_admin and current_user.is_authenticated and current_user.username == 'admin' %}
                    <span class="navbar-item">
                        <a class="button is-link" href="{{ url_for('report_sales') }}">Report Sales</a>
                    </span>
                {% endif %}
                <span>
                    {% if current_user.is_authenticated %}
                    <p class="mr-2 is-size-4">{{ current_user.username }}</p>
                    <a href="{{ url_for('logout_page') }}" class="button is-danger is-link">Log out</a>
                    {% endif %}
                </span>
                
            </div>
        </nav>

    </header>

    <main>

        {% for message in get_flashed_messages() %}
        <div class="notification is-info">{{ message }}</div>
        {% endfor %}


        <section class="sectionn">
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </section>
    </main>


    <footer class="footer">
        <div class="content">
            <small>&copy; 2022, DevsWeb</small>
        </div>
        <div class="footer-img">
            <a href="https://www.facebook.com/marioadolfo.tomas" target="_blank">
                <img src="../static/images/footer/icon-facebook.svg" alt="">
            </a>
            <a href="https://www.instagram.com/francisco.virbes_/" target="_blank">
                <img src="../static/images/footer/icon-instagram.svg" alt="">
            </a>
        </div>
    </footer>

</body>

</html>