{% extends 'layout.html' %} {% block title %}Edit Movie{% endblock title %}

{% block content %}

<h1 class="title">Edit Movies</h1>

<a class="button is-info is-small mb-4" href="{{ url_for('categories') }}">Add Category</a>

<form method="POST" name="movie_edit" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
            {{ form.title(required=True, autofocus=True, class="input") }}
        </div>
        {% for error in form.title.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
    </div>

    <div class="field">
        <label for="year" class="label">Year</label>
        <div class="control">
            {{ form.year(class="input") }}
        </div>
        {% for error in form.year.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
    </div>

    <div class="field">
        {{ form.category.label(class="label")}}
        <div class="control">
            {{ form.category(class="input") }}
        </div>
    </div>

    <div class="field">
        {{ form.country.label(class="label") }}
        <div class="control">
            {{ form.country(class="input") }}
        </div>
    </div>

    <div class="field">
        {{ form.price.label(class="label") }}
        <div class="control">
            {{ form.price(class="input") }}
        </div>
    </div>

    <div class="field">
        {{ form.stock.label(class="label") }}
        <div class="control">
            {{ form.stock(class="input") }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            {{ form.image(accept="image/*") }}
        </div>
    </div>


    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary is-small">Save</button>
        </div>
    </div>

</form>

{% endblock content %}