{% extends 'layout.html' %} {% block title %}Edit Movie{% endblock title %}

{% block content %}

<section class="contenedor">
    <h2 class="title pl-3 control has-text-black mt-6">Agregar</h2>
    
    <a class="button ml-3 is-info is-small mb-4" href="{{ url_for('categories') }}">Agregar categoría</a>
    
    <form method="POST" name="movie_edit" enctype="multipart/form-data">
        {{ form.csrf_token }}
    
        <div class="field">
            <label for="title" class="label">Título</label>
            <div class="control">
                {{ form.title(required=True, autofocus=True, class="input") }}
            </div>
            {% for error in form.title.errors %}
            <p class="help has-background-warning">
                {{ error }}
            </p>
            {% endfor %}
        </div>
    
        <div class="field">
            <label for="year" class="label">Año</label>
            <div class="control">
                {{ form.year(class="input") }}
            </div>
            {% for error in form.year.errors %}
            <p class="help has-background-warning">
                {{ error }}
            </p>
            {% endfor %}
        </div>
    
        <div class="field">
            {{ form.category.label(class="label")}}
            <div class="control">
                {{ form.category(class="input") }}
            </div>
        </div>
    
        <div class="field">
            {{ form.country.label(class="label") }}
            <div class="control">
                {{ form.country(class="input") }}
            </div>
        </div>
    
        <div class="field">
            {{ form.price.label(class="label") }}
            <div class="control">
                {{ form.price(class="input") }}
            </div>
        </div>
    
        <div class="field">
            {{ form.stock.label(class="label") }}
            <div class="control">
                {{ form.stock(class="input") }}
            </div>
        </div>
    
        <div class="field pl-3">
            <div class="control">
                {{ form.image(accept="image/*") }}
            </div>
        </div>
    
    
        <div class="field pl-3 is-grouped mb-3">
            <div class="control">
                <button class="button is-primary is-small">Guardar</button>
            </div>
        </div>
    
    </form>
</section>

{% endblock content %}