{% extends 'layout.html' %}

{% block title %}Movie List{% endblock title %}

{% block content %}
<h1 class="title">Movies</h1>

{% if movies %}
<form 
method="POST" name="movie_list">

    <table class="table is-striped is-fullwidth">
        <tbody>
            {% for movie_key, movie in movies %}
            {% if not movie_key in my_movies_keys %}
            
            <tr>
                <td>
                    {% if current_user.role == 'Admin' %}
                    <label class="checkbox">
                        <input type="checkbox" name="movie_keys" value="{{ movie_key }}">
                    </label>
                    {% endif %}

                    <a href="{{ url_for('movie_page', movie_key=movie_key) }}">
                        {{ movie.title }}
                        <b>{% if movie.year %}({{ movie.year }}){% endif %}</b>
                        <b>- {{ movie.image }}</b>
                    </a>
                </td>
            </tr>

            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.role == 'Admin' %}
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-danger is-small">Delete</button>
        </div>
    </div>
    {% endif %}
</form>
{% endif %}

{% endblock content %}