<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Error 404 Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mymovies.css') }}">
</head>

<body>
    <section class="section is-medium">
        <div class="container">

            <div class="has-text-centered">
                <h1 class="title has-text-danger is-size-1">404 Page Not Found</h1>
                <p class="subtitle mt-1 is-size-4">An unexpected error has occurred. Please contact the site owner.</p>

                <a onclick="return window.history.back()" class="button is-primary mr-4 mt-4">Go Back</a>
                <a href="{{ url_for('home_page') }}" class="button is-primary ml-4 mt-4">Home Page</a>
            </div>

        </div>
    </section>

    <footer class="footer">
        <div class="content">
            <small>&copy; 2015 - 2018, Kilgore Trout</small>
        </div>
    </footer>
</body>

</html>