<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mymovies.css') }}">
</head>

<body>

    <header class="hero is-primary has-background has-text-centered">
        <img class="hero-background is-transparent" src="../static/images/about/about.jpg">

        <div class="hero-body">
            <div class="container texto">
                <h1 class="title is-size-2 has-text-white">ABOUT</h1>
                <h3 class="subtitle is-size-4">Movies - <span class="marca">Devs<span>Web</span></span></h3>
            </div>
        </div>
    </header>

    <div class="my-6 contenedor p-3">
        <h2 class="subtitle has-text-centered is-size-4 has-text-black has-text-weight-bold">QUIÉNES SOMOS</h2>

        <div class="columns">
            <div class='column'>
                <div class="card has-text-black">
                    <div class="caja-img has-text-centered">
                        <figure class="card-img mt-5">
                            <img src="../static/images/about/miguel.jpg">
                        </figure>
                    </div>

                    <div class="card-content">
                        <div class="has-text-centered mb-4">
                            <div class="media-content">
                                <p class="title is-4">Miguel Angel</p>
                                <p class="subtitle is-6">@Momentz</p>
                            </div>
                        </div>

                        <div class="content has-text-centered">
                            <b>Estudiante de la carrera:</b> 
                            <br>Ingeniería de Sistemas Computacionales
                            <br><br>
                            <a href="https://iespro.edu.mx/" target="_blank">IESPRO</a>
                            <br>
                            <a href="https://comitan.tecnm.mx/" target="_blank">Instituto Tecnológico de Comitán</a>
                            <br>
                            <br>
                            <a href="https://www.facebook.com/profile.php?id=100003799165260" target="_blank">
                                <img src="../static/images/about/icons8-facebook-nuevo-30.png" alt="">
                            </a>
                            <a href="https://github.com/MiguelAngel20" target="_blank">
                                <img src="../static/images/about/icons8-github-32.png" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class='column'>
                <div class="card has-text-black">
                    <div class="caja-img has-text-centered">
                        <figure class="card-img mt-5">
                            <img src="../static/images/about/marianos2.jpg">
                        </figure>
                    </div>
                    
                    <div class="card-content">
                        <div class="has-text-centered mb-4">
                            <div class="media-content">
                                <p class="title is-4">Mario Tomas</p>
                                <p class="subtitle is-6">@tmario291</p>
                            </div>
                        </div>

                        <div class="content has-text-centered">
                            <b>Estudiante de la carrera:</b> 
                            <br>Ingeniería de Sistemas Computacionales
                            <br><br>
                            <a href="https://iespro.edu.mx/" target="_blank">IESPRO</a>
                            <br>
                            <a href="https://comitan.tecnm.mx/" target="_blank">Instituto Tecnológico de Comitán</a>
                            <br>
                            <br>
                            <a href="https://www.facebook.com/marioadolfo.tomas" target="_blank">
                                <img src="../static/images/about/icons8-facebook-nuevo-30.png" alt="">
                            </a>
                            <a href="https://github.com/MarioTomas0209" target="_blank">
                                <img src="../static/images/about/icons8-github-32.png" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class='column has-text-black'>
                <div class="card has-text-black">
                    <div class="caja-img has-text-centered">
                        <figure class="card-img mt-5">
                            <img src="../static/images/about/virbes.jpg">
                        </figure>
                    </div>
                    
                    <div class="card-content">
                        <div class="has-text-centered mb-4">
                            <div class="media-content">
                                <p class="title is-4">Francisco Virbes</p>
                                <p class="subtitle is-6">@virbesz</p>
                            </div>
                        </div>

                        <div class="content has-text-centered">
                            <b>Estudiante de la carrera:</b> 
                            <br>Ingeniería de Sistemas Computacionales
                            <br><br>
                            <a href="https://iespro.edu.mx/" target="_blank">IESPRO</a>
                            <br>
                            <a href="https://comitan.tecnm.mx/" target="_blank">Instituto Tecnológico de Comitán</a>
                            <br>
                            <br>
                            <a href="https://www.facebook.com/Virbesz" target="_blank">
                                <img src="../static/images/about/icons8-facebook-nuevo-30.png" alt="">
                            </a>
                            <a href="https://github.com/Virbes" target="_blank">
                                <img src="../static/images/about/icons8-github-32.png" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-6">
        <div class="has-text-centered">
            <a class="button is-primary mr-4" onclick="return window.history.back()">Go Back</a>
            <a class="button is-primary" href="{{ url_for('home_page') }}">Home Page</a>
        </div>
    </div>

    {% include 'footer.html' %}

</body>

</html>