{% extends 'layout.html' %}{% block title %}Acquire {{ movie.title }}{% endblock title %}

{% block content %}

<div class="hero has-background has-text-centered">
    <div class="hero-body">
        {% include 'header.html' %}
    </div>
</div>

<h2 class="contenedor control has-text-black">Adquirir película</h2>

<section class="contenedor">
    
    <div class="column is-7 is-offset-0 mb-6"> 
        <div class="box">
            <div class="columns is-vcentered">

                {% if movie.image %}
                <img src="{{ url_for('static', filename='images/upload/movies/') }}{{ movie.image }}" width="100px">
                {% endif %}

                <div class="contenedor-tabla">
                    <table class="ml-6 mr-6">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Año</th>
                                <th>Categoría</th>
                                <th>País</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.year }}</td>
                                <td>{{ movie.category }}</td>
                                <td>{{ movie.country }}</td>
                                <td>${{ movie.price }} MXN</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <form method="POST">
                <a class="button is-danger mr-3" onclick="return window.history.back()">Cancel</a>
                <button class="button is-success" onclick="return confirm('¿Estás seguro que quieres agregar {{ movie.title }} al carrito?')">Agregar al carrito</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}