{% extends 'layout.html' %} {% block title %}Edit Category{% endblock title %}

{% block content %}

<section class="hero">
    <div class="container">

        <h3 class="title has-text-grey has-text-centered">Category</h3>

        <div class="box">
            <form method="POST" name="login">
                {{ form.csrf_token }}

                <div class="field is-grouped">
                    <p class="control is-expanded">
                        {{ form.category }}
                    </p>

                    <div class="control">
                        <div class="button is-info">
                            <button class="button is-block is-info">Add</button>
                        </div>
                    </div>
                </div>
            </form>

            <hr>
            <!--  
            <form method="POST">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-danger is-small">Delete</button>
                    </div>
                </div>
            </form>
            -->
            <table>
                <tbody>
                    {% for id, category in cat %}
                    <tr>

                        <td>
                            <div class="field is-grouped">

                                <p class="control is-expanded">
                                    <span class="ml-3 is-size-5">{{ category }}</span>
                                </p>

                                <div class="control">
                                    <a onclick="return confirm('do you really want to delete {{ category }}?')"
                                        href="{% url 'delete_category' id %}"
                                        class="button is-danger is-small is-outlined">
                                        <!--Text-->Eliminar
                                        <!--Text-->
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content %}