<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My movies - {% block title %}{% endblock title %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mymovies.css' %}">

    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</head>

<body>
    <main>
        <section class="sectionn">
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
</body>

</html>