{% extends 'layout.html' %}
{% block title %}Movie{% endblock title %}
{% load static %}
{% block content %}

<div class="hero has-background has-text-centered">
    <div class="hero-body">{% include 'header.html' %}</div>
</div>

<h2 class="contenedor control has-text-black">Pelicula</h2>

<div class="box contenedor mt-6">

    <div class="columns p-4 is-vcentered c-img">
        <div class="img-movie">
            {% if movie.image %}
            <img src="{% static 'images/upload/movies/' %}{{ movie.image }}" width="200px">
            {% endif %}
        </div>

        <div class="contenedor-tabla">
            <table class="table ml-6 mr-6">
                <tr>
                    <th>Título:</th>
                    <td>{{ movie.title }}</td>
                </tr>
                {% if movie.year %}
                <tr>
                    <th>Año:</th>
                    <td>{{ movie.year }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Categoría</th>
                    <td>{{ movie.category }}</td>
                </tr>
                <tr>
                    <th>País:</th>
                    <td>{{ movie.country }}</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td>${{ movie.price }} MXN</td>
                </tr>
                <tr>
                    <th>Estado:</th>
                    {% if movie.stock > 0%}
                    <td class="has-text-primary">Disponible</td>
                    {% else %}
                    <td class="has-text-danger">No Disponible</td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="field centrar contenedor mb-6">
    <div class="control">
        <a class="button is-success is-small" href="{{ request.path }}acquire">Adquirir</a>
    </div>

    <div class="centrar" style="width: 14%;">
        <a class="button is-primary is-small" href="{{ request.path }}edit">Editar</a>
        <a class="button is-danger is-small" href="{{ request.path }}delete">Eliminar</a>
    </div>
</div>


{% endblock content %}