{% extends 'layout.html' %}{% block title %}My Movies{% endblock title %}

{% block content %}



<div class="hero has-background has-text-centered">
    <div class="hero-body">
        {% include 'header.html' %}
    </div>
</div>

<h2 class="contenedor control has-text-black">Mi carrito</h2>

{% if movies %}

<section class="contenedor">
    
    <div class="column is-7 is-offset-0">

        <div class="box contenedor-tabla">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>img</th>
                        <th>Título</th>
                        <th>Fecha de adquisición</th>
                        <th>Precio</th>
                        <th>Acción</th>
                    </tr>
                </thead>

                <tbody>
                    {% for movie in movies %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            {% if movie.image %}
                            <img src="{{ url_for('static', filename='images/upload/movies/') }}{{movie.image}}" width="30px">
                            {% else %}
                            <img src="{{ url_for('static', filename='images/upload/movies/default.png') }}" width="30px">
                            {% endif %}
                        </td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.acquisition_date.strftime("%d/%m/%Y") }}</td>
                        <td>${{ movie.price }} MXN</td>
                        <td>
                            <a class="button is-link is-danger is-small"
                                href="{{ url_for('delete_my_movie', my_movie_key=movie.id_cart) }}"
                                onclick="return confirm('Desea remover {{ movie.title }}')">
                                Quitar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="4"><b>Total</b></td>
                        <td><b>${{ total }} MXN</b></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</section>

<div class="column mb-6 contenedor centrar">
    <form method="POST">
        <span>
            <button class="button is-link is-outlined is-danger"
                onclick="return confirm('¿Estás seguro de que quieres cancelar todas las películas?')">
                Cancelar todo
            </button>
        </span>

        <span class="ml-4">
            <a class="button is-link is-outlined is-success" href="{{ url_for('payment') }}">Pagar ahora</a>
        </span>
    </form>
</div>

{% else %}
<div class="box has-text-centered contenedor mb-6">
    <h3 class="subtitle">Tu carrito está vacío</h3>
    <div>
        <a class="button is-danger" href="{{ url_for('movies_page') }}">Lista de Películas</a>
    </div>
</div>
{% endif %}

{% endblock content %}