<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Error 401 Unauthorized</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mymovies.css') }}">
</head>

<body>
    <section class="contenedor section is-medium">
        <div class="">

            <div class="has-text-centered">
                <h2 class="title has-text-danger is-size-1">401 No autorizado</h2>
                <p class="subtitle mt-1 is-size-4">Lo sentimos, su solicitud no pudo ser procesada.</p>

                <a onclick="return window.history.back()" class="button is-primary mr-4 mt-4">Volver</a>
                <a href="{{ url_for('home_page') }}" class="button is-primary ml-4 mt-4">Home Page</a>
            </div>

        </div>
    </section>
    {% include 'footer.html' %}
</body>

</html>