{% extends 'layout.html' %}{% block title %}Payment Cash{% endblock title %}

{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container">

            {% if success %}

            <div class="has-text-centered is-size-4">
                <h3 class="has-text-success">¡Pago realizado satisfactoriamente!</h3>
                <h4 class="">Total de cambio: ${{ total }}.00 MXN</h4>
                <a href="{{ url_for('home_page') }}" class="button is-success ml-4 mt-4">Home Page</a>
            </div>

            {% else %}

            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey has-text-centered">Pay</h3>

                <div class="box">
                    <form method="POST">
                        {{ form.csrf_token }}

                        <div class="columns">
                            <label class="label column">Total a pagar: </label>
                            <b class="column has-text-danger">${{ total }} MXN</b>
                        </div>

                        <div class="columns">
                            {{ form.cantidad.label(class="label column")}}
                            {{ form.cantidad(class="input column", placeholder="Cantidad recibida") }}
                        </div>

                        <button class="button is-block is-info is-fullwidth">Pay Now</button>

                    </form>
                </div>
            </div>
            
            {% endif %}
        </div>
    </div>
</section>


{% endblock content %}