{% extends 'layout.html' %}
{% block title %}My Profile{% endblock title %}

{% block content %}

<div class="hero has-background has-text-centered">
    <div class="hero-body">
        {% include 'header.html' %}
    </div>
</div>

<h2 class="contenedor control has-text-black">Perfil</h2>

<section class="contenedor">
    
    <div class="column is-4 is-offset-0 mb-6"> 
        <div class="box-perfil">

            <div class="flex-perfil">
                <div class="profile-picture">
                    {% if current_user.image %}
                    <img src="{{ url_for('static', filename='images/upload/profile_picture/') }}{{ current_user.image }}">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/upload/profile_picture/default.png') }}">
                    {% endif %}
                </div>
                <div class="box caja-perfil">
                    <table>
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>{{ current_user.username }}</span></td>
                                <td><span>{{ current_user.role }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box">
                <table>
                    <tr>
                        <td>
                            <h3 class="mb-1">Nombre</h3>
                            <span>{{ current_user.name }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h3 class="mt-2 mb-1">Apellido</h3>
                            <span>{{ current_user.lastName }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h3 class="mt-2 mb-1">Dirección</h3>
                            <span>{{ current_user.address }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h3 class="mt-2 mb-1">Teléfono</h3>
                            <span>{{ current_user.phone }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h3 class="mt-2 mb-1">Fecha de nacimiento</h3>
                            <span>{{ current_user.dateBirth }}</span>
                        </td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>

</section>

{% endblock content %}