{% extends 'layout.html' %}
{% block title %}My Profile{% endblock title %}
{% load static %}
{% block content %}

<div class="hero has-background has-text-centered">
    <div class="hero-body">
        {% include 'header.html' %}
    </div>
</div>

<h2 class="contenedor control has-text-black">Perfil</h2>

<section class="contenedor">

    <div class="box-perfil">

        <div class="flex-perfil">
            <div class="profile-picture">
                {% if data.image %}
                <img src="{% static 'images/upload/profile_picture/' %}{{ data.image }}">
                {% else %}
                <img src="{% static 'images/upload/profile_picture/default.png' %}">
                {% endif %}
            </div>
            <div class="box caja-perfil">
                <table>
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>{{ data.username }}</span></td>
                            <td><span>{{ data.role }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box" style="width:30%">
            <table>
                <tr>
                    <td>
                        <h3 class="mb-1">Nombre</h3>
                        <span>{{ data.name }}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3 class="mt-2 mb-1">Apellido</h3>
                        <span>{{ data.last_name }}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3 class="mt-2 mb-1">Teléfono</h3>
                        <span>{{ data.phone }}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3 class="mt-2 mb-1">Edad</h3>
                        <span>{{ data.age }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

{% endblock content %}