{% extends 'layout.html' %}
{% block title %}Registro{% endblock title %}

{% block content %}

<section class="hero">

    <div class="hero-body">

        <header class="contenedor">
            <nav aria-label="main navigation">
    
                <div class="nav-principal">
                    <div class="nav__principal--img">
                        <a href="{% url 'inicio' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24" style="fill: #3298DC;"><path d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm.001 6c-.001 0-.001 0 0 0h-.465l-2.667-4H20l.001 4zM15.5 15 10 18v-6l5.5 3zm-.964-6-2.667-4h2.596l2.667 4h-2.596zm-2.404 0H9.536L6.869 5h2.596l2.667 4zM4 5h.465l2.667 4H4V5z"></path></svg>
                        </a>
                    </div>
                    
                    <div class="btn-login">
                        <div class="btn-flex">
                            {% if not current_user.is_authenticated %}  
                            <a class="btn-registro" href="{% url 'login' %}">Iniciar sesion</a> <!--Boton de registro-->
                            {% endif %}
                        </div>
                    </div>
                    <span>
                        <a href="{% url 'about' %}" class="button is-rounded is-outlined is-small">i</a>
                    </span>
                </div>
            </nav>
        </header>
    
        <div>
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
    
                    <h3 class="title has-text-white">Registrar</h3>
    
                    <div class="box">
                        <form method="POST" id="form-registro" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% for field in form_login %}
                            <div class="field">
                                {% if field.label != 'Role' %}
                                <div class="control xd">{{ field }}</div>
                                {% endif %}
    
                                {% for error in field.errors %}
                                <p class="help has-background-warning">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endfor %}


                            <hr>


                            {% for field in form_create %}
                            <div class="field">
                                {% if field.label != 'Role' %}
                                <div class="control">{{ field }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}
    
                            <button class="button is-block is-danger is-large is-fullwidth">Registrar</button>
    
                        </form>
                        {% if error %}
                        <br>
                        <p class="has-text-danger">{{error}}</p>
                        {% endif %}
                    </div>
    
                </div>
            </div>
        </div>

    </div>

    
</section>
{% endblock content %}