{% extends 'layout.html' %}{% block title %}Report Sales{% endblock title %}

{% block content %}

<div class="box">
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>Id Sale</th>
                <th>Username</th>
                <th>Total</th>
                <th>Payment Method</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            {% for report in reports %}
            <tr class="is-clickable">
                <td>{{ report.id_sale }}</td>
                <td>{{ report.username }}</td>
                <td>{{ report.total }}</td>
                <td>{{ report.payment_method }}</td>
                <td>{{ report.sale_date }}</td>

                <div class="box items">GGG</div>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot></tfoot>
    </table>
</div>
{% endblock content %}