{% extends 'layout.html' %}
{% block title %}Registro{% endblock title %}
{% block content %}

<section class="hero">
    <div class="hero-body">

        {% include 'header.html' %}

        <div class="contenedor-perfil">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">

                    <h3 class="title has-text-white">
                        {% if action == 'edit' %}
                            Editar
                        {% else %}
                            Registrar
                        {% endif %}
                    </h3>

                    <div class="box">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% for field in form %}
                            <div class="field">
                                {% if field.label != 'Role' %}
                                <!-- <label for="id_{{ field.label|lower }}" class="label">{{ field.label }}</label> -->
                                <div class="control">{{ field }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}

                            <button class="button is-block is-danger is-large is-fullwidth">
                                {% if action == 'edit' %}
                                    Guardar Cambios
                                {% else %}                                
                                    Registrar
                                {% endif %}
                            </button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}