{% extends 'layout.html' %}
{% block title %}Create User{% endblock title %}

{% block content %}

<div class="hero has-background has-text-centered">
    <div class="hero-body">
        {% include 'header.html' %}
    </div>
</div>

    <h2 class="contenedor control has-text-black">Crear usuario</h2>

<section>

        <div class="contenedor">
            <div class="column is-7 is-offset-0"> 

                <div class="box">
                    <form action="" method="POST" name="create_user" enctype="multipart/form-data">
                        {{ form.csrf_token }}


                        <div class="field">
                            {{ form.username.label(class="label") }}
                            <div class="control">
                                {{ form.username(class="input") }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.password.label(class="label") }}
                            <div class="control">
                                {{ form.password(class="input") }}
                            </div>
                        </div>

                        <hr>

                        <div class="field">
                            {{ form.name.label(class="label") }}
                            <div class="control">
                                {{ form.name(class="input") }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.lastname.label(class="label") }}
                            <div class="control">
                                {{ form.lastname(class="input") }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.address.label(class="label") }}
                            <div class="control">
                                {{ form.address(class="input") }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.phone.label(class="label") }}
                            <div class="control">
                                {{ form.phone(class="input", placeholder="Optional") }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.dateBirth.label(class="label") }}
                            <div class="control">
                                {{ form.dateBirth(class="input", placeholder="22/04/1999") }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.role.label(class="label") }}
                            <div class="control">
                                {{ form.role(class="input") }}
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                {{ form.image }}
                            </div>
                        </div>

                        <button class="button is-block is-info is-medium is-fullwidth">Guardar</button>
                    </form>
                </div>
             </div>
        </div>
</section>
{% endblock content %}