{% extends 'layout.html' %}{% block title %}Edit User{% endblock title %}

{% block content %}

<div class="hero has-background has-text-centered">
    <div class="hero-body">
        {% include 'header.html' %}
    </div>
</div>

<section class="mt10">
    <div class="container">

        {% if action == "edit" %}
        <h3 class="title has-text-black has-text-centered">Editar usuario</h3>
        {% else %}
        <h3 class="title has-text-black has-text-centered">Eliminar usuario</h3>
        {% endif %}

        <div class="box mb-6">
            <table>
                <thead>
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acción</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                    {% if not user.id_user == 1 %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.lastName }}</td>
                        {% if action == "edit" %}
                        <td>
                            <a 
                                href="{% url 'edit_profile' user.username %}" 
                                class="button is-info is-small">
                                Editar
                            </a>
                        </td>
                        {% else %}
                        <td>
                            <a 
                                onclick="return confirm('Seguro que desea borrar a {{user.username}}')"
                                href="{% url 'delete_user' user.id_user %}"
                                class="button is-danger is-small">
                                Eliminar
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content %}